<!DOCTYPE html>

<html>
  <head>
    <title>Clan Todi 1</title>
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
    </style>

  </head>

  <body>
    <h2>Login</h2>
    <P class="error">{{error}}</P>
    <form method="post">
      <table>
        <tr>
          <td class="label">
            Username
          </td>
          <td>
            <input type="text" name="username" value="{{username}}">
          </td>
        </tr>
        <tr>
          <td class="label">
            Password
          </td>
          <td>
            <input type="password" name="password" value="">
          </td>
        </tr>
      </table>

      <input type="submit">
    </form>
    <p>
    <a href="signup">SignUp</a>
    </p>
  </body>

</html>
